.container {
    display: flex;
    flex: 1;
    padding: 0;
}

.menu-lateral {
    width: 300px;
    background-color: #f4f4f4;

}

.main-panel {
    background-color: #f6f6f6;
    flex: 1;
    padding: 20px;
    height: 80%;
}

.form-control::placeholder {
    color: #999;
}

.imagem-perfil {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

.conteudo-central {
    flex: 1;
    background: #f6f6f6;
}

.top-table {
    background-color: #f6f6f6;
    color: #848484;
    padding: 30px 0px 0px 30px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.title-top-table {
    width: 600px;
}

.name-top-table {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    padding-left: 600px;
}

.employee-name {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-left: 30px;
}

.setor-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    padding-right: 10px;
}

.setor-name span,
.employee-name span {
    margin-bottom: 5px;
}

.vertical-line {
    border-left: 3px solid #ccc;
    height: 50px;
    margin: 0 10px;
}

.painel-table {
    width: 96%;
    height: 96%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

@media (min-width: 1280px) {
    .container {
        max-width: 3000px
    }
}
