.dropdown-menu {
    background-color: #ffffff;
    width: 300px;
    height: 800px;
}

.dropdown-item {
    font-size: 17px;
    font-weight: bold;
    padding: 20px 10px 20px 30px;
    color: rgba(26, 40, 73, 0.95);
}

.dropdown-item:hover {
    background-color: rgba(250, 162, 17, 0.7);
}
