.cadastro-usuario {
    margin: 50px auto;
    width: 80%;
    max-width: 1600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container-cadastro {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-cadastro, select {
    width: calc(50% - 5px);
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.botao-cadastro-colaborador {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.botao-cadastro-colaborador:hover {
    background-color: #45a049;
}

.input-container-cadastro {
    margin-bottom: 15px;
}

.endereco-container {
    display: flex;
    justify-content: space-between;
}

.endereco-inputs {
    width: calc(50% - 10px);
}

.label-endereco {
    margin-top: 15px;
}

.label-endereco, .input-endereco {
    display: inline-block;
    width: 49%;
}

.input-cadastro, select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.botao-cadastro-colaborador {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.botao-cadastro-colaborador:hover {
    background-color: #45a049;
}

