.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfdfd;
    color: #4f5656;
    padding: 20px;
    border-bottom: 1px solid rgb(229, 226, 226);
}

.usuario-logado {
    font-size: 20px;
    padding-right: 0px;
    display: flex;
    align-items: center;
}

.imagem-perfil {
    margin-right: 30px;
}

