.perfil-container {
    display: flex;
    justify-content: space-around;
}

.perfil-dados-editaveis {
    justify-content: center;
}

.perfil-dados-fixo, .perfil-dados-editaveis {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff; /* Fundo branco para os painéis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.input-disabled, .input-editavel {
     /* Largura dos inputs */
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0; /* Fundo cinza claro para inputs */
}

.input-editavel {
    background-color: #d4d4d4; /* Fundo branco para inputs editáveis */
    width: auto;
    margin-left: 10px;
}

.btn-resetar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Verde para o botão */
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-resetar:hover {
    background-color: #45a049; /* Escurece o botão ao passar o mouse */
}

.painel-table-principal {
    width: 96%; 
    height: 100%; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff;
}

.label-perfil {
    width: 400px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.modal-title {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.input-modal {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-modal {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0B1ABB; /* Azul para os botões */
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 5px;
}

.btn-modal:hover {
    background-color: #0a19a3; /* Escurece o botão ao passar o mouse */
}
