.painel-table {
    height: 750px;
}

.main-painel-principal {
    background-color: #f6f6f6;
    flex: 1;
    padding: 20px;
    height: 90%;
}

.painel-table-principal {
    width: 96%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


