.table-div {
    background: #fdfdfd;
}

.tr-cabecalho {
    margin-bottom: 20px;
    border: 1px solid #fdfdfd;
    border-radius: 8px;
    overflow: hidden;
    background: #fdfdfd;
}

th {
    line-height: 4;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border: none;
}

td {
    line-height: 3;
    padding: 10px;
    text-align: center;
    border: none;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr.tr-cabecalho-primeira-linha {
    border-top: none;
}

.tr-cabecalho-primeira-linha th {
    color: #838383;
    font-size: 19px;
}

.linha-tabela td {
    color: #848484;
    font-size: 17px;
}

.aprovacao-badge {
    background-color: #5ae05d;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    align-content: center;
    width: 150px;
    height: 30px;
}

.solicitacao-badge {
    background-color: #e8be33;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    align-content: center;
    width: 150px;
    height: 30px;
}

.incompleto-badge {
    background-color: #f63b3b;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    align-content: center;
    width: 150px;
    height: 30px;
}
