.botoes-status {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
}

.btn-light {
    padding: 0.5rem 1rem;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    width: 150px;;
}

.btn:hover {
    filter: brightness(90%);
}

.btn-success, .btn-warning, .btn-info, .btn-danger, .btn-secondary {
    padding: 0.5rem 1rem;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    width: 150px;;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-light {
    background-color: #f8f9fa;
    color: #212529;
}
