.dropdown-toggle {
    background: #4462b4;
    border-color: #4361b3;
    border-radius: 10px;
    height: 30px;
    width: 70px;
    align-content: center;
    padding: 0px;
}

.dropdown-toggle:hover {
    background: #1b347a;
    border-color: #193171;
}

.button-item {
    margin: 0px;
    padding: 0px 0px 0px 15px;
    font-size: 15px;
    font-weight: normal;
}

.button-item:hover {
  background: #d6e3f8;
}

.button-menu {
    width: 200px;
    height: auto;
    padding: 0px;
    margin: 0px;
}
